{% extends 'base.html' %}
{% load static %}

{% block title %}Create Exercise Info{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block styles %}
  <style>
    main {
      padding: 20px;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="form-container">

    {% include 'form-header.html' with title="Create Exercise Info" %}

    <div class="form-body">

      <form id="form" method="POST">
        {% csrf_token %}

          {% for field in form %}
            <div class="form-group">
              {{field.label_tag}}
              {{field}}
            </div>
          {% endfor %}    
      </form>

    </div>

    <div class="form-footer">
      <div></div>
      <div class="footer-group">
        <a type="button" class="btn-form" href="{% url 'exercises_info:list' %}">Cancel</a>
        <button type="submit" form="form" class="btn-form">Create</button>
      </div>
    </div>

  </div>

{% endblock %}