{% extends 'base.html' %}
{% load static %}

{% block title %}Exercises{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}


{% block styles %}
  <style>
    .ic-download,
    .ic-upload {
      width: 14px !important;
      height: 14px !important;
    }
  </style>
{% endblock %}

{% block content %}

  <header>
    <div class="header-title">Exercise Info</div>
    <div class="header-group">
      <a class="icon-link" href="{% url 'exercises_info:create' %}"><i class="icon ic-add"></i></a>
      <a class="icon-link {% if add_button_disabled %}disabled{% endif %}" href="{% url 'exercises_info:upload' %}"><i class="icon ic-upload"></i></a>
      <a class="icon-link" href="{% url 'api:download_exercises_info_json_file' %}"><i class="icon ic-download"></i></a>
      {% include 'select-widget.html' with id="language_selector" widget=language_widget %}
    </div>
  </header>

  {% include 'messages_error.html' %}

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th med>ID</th>
          <th min>M</th>
          <th lg>Unique ID</th>
          <th min></th>
          <th med>V</th>
          <th lg>Translation</th>
          <th min></th>
          <th med>V</th>
        </tr>
      </thead>

      <tbody>
        {% for exercise_info, exercise_info_translation in list_exercise_info %}
          <tr>
            <td>{{exercise_info.id}}</td>
            <td>{{exercise_info.get_unit_type_display|slice:"0:1"}}</td>
            <td><a href="{% url 'exercises_info:detail' pk=exercise_info.id %}">{{exercise_info.unique_id}}</a></td>
            <td><a class="icon ic-edit"  href="{% url 'exercises_info:update' pk=exercise_info.id %}"></a></td>
            <td>{{exercise_info.version}}</td>
            <td><a href="{% url 'exercises_info_translations:detail' exercise_info.id language.id %}">{{exercise_info_translation.title}}</a></td>
            <td><a class="icon ic-edit"  href="{% url 'exercises_info_translations:update' exercise_info.id language.id %}"></a></td>
            <td>{{exercise_info_translation.version}}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock %}

{% block scripts %}
  <script>
      
    onLanguageChange = function( event ){
      const argLanguage = languageSelector.value;

      const oldUrl = window.location.href;
      const symbol = '%3F'; // Question Mark Symbol
      const baseUrl = oldUrl.split(symbol)[0];
      const newUrl = `${baseUrl}${symbol}language_id=${argLanguage}`;

      console.log(oldUrl);
      console.log(newUrl);
      if( newUrl !== oldUrl){
        window.location.href = newUrl;
      }
    }

    const languageSelector = document.getElementById('language_selector');
    languageSelector.addEventListener( 'change', onLanguageChange);

  </script>

{% endblock scripts %}
  