{% extends 'base.html' %}
{% load static %}

{% block title %}Languages{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% endblock %}

{% block styles %}
  <style>
    main{padding: 0px;}
    .btn-item-title{cursor:default}
  </style>
{% endblock styles %}
  
{% block content %}

  <header>
    <div class="header-title">Languages</div>
    <a id="ic-add" class="btn-link" href="{% url 'languages:create' %}">Add Language</a>
  </header>

  {% include 'messages_error.html' %}

  <div class="list-container">
    
    {% for language in list_language %}
      <div class="list-item">
        <div class="btn-item-title">{{language}}</div>
        <a class="icon ic-edit" href="{% url 'languages:update' pk=language.id %}"></a>
      </div>
    {% endfor %}
      
  </div>

{% endblock %}