{% extends 'base.html' %}
{% load static %}

{% block btn_back %}
  <a class="icon ic-back" href="{{url_back}}"></a>
{% endblock %}

{% block title %}Program Translation Details{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block content %}

  <header>
    <div class="header-title">Program Translation Details</div>
    <div class="header-group">
      <a class="icon-link" href="{% url 'programs_translations:update' program.id %}"><i class="icon ic-edit-white"></i></a>
      {% include 'select-widget.html' with id="language_selector" widget=language_widget %}
    </div>
  </header>

  <div class="dl-container">
    <dl>
      <div class="dl-group flat">
        <dt>Unique ID :</dt>
        <dd>{{program.unique_id}}</dd>
      </div>

      <div class="dl-group flat">
        <dt>Title :</dt>
        <dd>{{program_translation.title|default:'Undefined'}}</dd>
      </div>

      <div class="dl-group">
        <dt>Description :</dt>
        <dd>{{program_translation.description|default:'Undefined'|linebreaksbr}}</dd>
      </div>

      <div class="dl-group">
        <dt>Must Know :</dt>
        <dd>{{program_translation.must_know|default:'Undefined'|linebreaksbr}}</dd>
      </div>

      <div class="dl-group">
        <dt>Requirements :</dt>
        <dd>{{program_translation.requirements|default:'Undefined'|linebreaksbr}}</dd>
      </div>

    </dl>
</div>

{% endblock %}

{% block scripts %}
  <script>
      
    onLanguageChange = function( event ){
      const argLanguage = languageSelector.value;

      const oldUrl = window.location.href;
      const symbol = '%3F'; // Question Mark Symbol
      const baseUrl = oldUrl.split(symbol)[0];
      const newUrl = `${baseUrl}${symbol}program_id={{program.id}}&language_id=${argLanguage}`;

      console.log(oldUrl);
      console.log(newUrl);
      if( newUrl !== oldUrl){
        window.location.href = newUrl;
      }
    }

    const languageSelector = document.getElementById('language_selector');
    languageSelector.addEventListener( 'change', onLanguageChange);

  </script>
{% endblock scripts %}
  