{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}Lozen Database{% endblock %}</title>

		<link rel="stylesheet" href="{% static 'css/base.css' %}">
		<link rel="stylesheet" href="{% static 'css/icons.css' %}">

		{% block links %}{% endblock %}
		
		{% block styles %}{% endblock %}

	</head>
	
	<body>
		<nav>
			<div class="nav-group">
				<div>{% block btn_back %}{% endblock %}</div>
				<div class="nav-title">Lozen</div>
			</div>
			
			<div class="nav-group">
				{% with request.path as url %}
					<a href="{% url 'trainings:list' %}" class="nav-link {% if 'trainings' in url %}active{% endif %}"><div>Programs</div></a>
					<a href="{% url 'exercises_info:list' %}" class="nav-link {% if 'exercises_info' in url %}active{% endif %}"><div>Exercises Info</div></a>	
					<a href="{% url 'trackings:list' %}" class="nav-link {% if 'trackings' in url %}active{% endif %}"><div>Trackings</div></a>	
					<a href="{% url 'languages:list' %}" class="nav-link {% if 'languages' in url %}active{% endif %}"><i class="icon ic-language"></i></a>	
				{% endwith %}
					
			</div>
		</nav>

		<main>
			{% block content %}

			{% endblock %}
		</main>

	</body>

	{% block scripts %}

	{% endblock %}

</html>