{% extends 'base.html' %}
{% load static %}

{% block title %}Trainings{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% endblock %}


{% block styles %}
  <style>
    main{
      padding:0px
    }
    
    th .ic-language{
      filter: invert(0.7) !important;
    }
  </style>
{% endblock styles %}
  

{% block content %}

  <header>
    <div class="header-title">Trainings</div>

    <div class="header-group">
      <a id="ic-add" class="icon-link" href="{% url 'trainings:create' %}"><i class="icon ic-add"></i></a>
      {% include 'select-widget.html' with id="language_selector" widget=language_widget %}
    </div>
  </header>

  {% include 'messages_error.html' %}

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th min></th>
          <th lg>Unique ID</th>
          <th min></th>
          <th med>V</th>
          <th lg>Translation</th>
          <th min></th>
          <th med>V</th>
          <th min></th>
        </tr>
      </thead>

      <tbody>
        {% for training, training_translation in list_training %}
          <tr>
            <td><a class="icon ic-list" href="{% url 'programs:list' training_id=training.id %}"></a></td>
            <td><a href="{% url 'trainings:detail' training_id=training.id %}">{{training.unique_id}}</a></td>
            
            <td>
                <a class="icon ic-edit"  href="{% url 'trainings:update' training.id %}"></a>   
            </td>

            <td>{{training.version}}</td>

            <td>
              {% if training_translation %}
                <a href="{% url 'trainings_translations:detail' training.id %}">{{training_translation.title|default:"Undefined"}}</a>
              {% else %}
                <div>Not Created</div>
              {% endif %}
            </td>
            
            <td>
              {% if training_translation %}
                <a class="icon ic-edit"  href="{% url 'trainings_translations:update' training_translation.id %}"></a>   
              {% endif %}
            </td>
  
            <td>{{training_translation.version|default:"-"}}</td>

            <td>
              {% comment %}
              TODO : Find out how to handle this problem
              <a class="icon ic-delete {% if training.version != current_version %}disabled{% endif %}"  href="{% url 'trainings:delete' pk=training.id %}"></a>
              {% endcomment %}
            </td>

          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock %}

{% block scripts %}
  <script>
      
    onLanguageChange = function( event ){
      const argLanguage = languageSelector.value;

      const oldUrl = window.location.href;
      const symbol = '%3F'; // Question Mark Symbol
      const baseUrl = oldUrl.split(symbol)[0];
      const newUrl = `${baseUrl}${symbol}language_id=${argLanguage}`;

      console.log(oldUrl);
      console.log(newUrl);
      if( newUrl !== oldUrl){
        window.location.href = newUrl;
      }
    }

    const languageSelector = document.getElementById('language_selector');
    languageSelector.addEventListener( 'change', onLanguageChange);

  </script>

{% endblock scripts %}