{% extends 'base.html' %}
{% load static %}

{% block title %}Trainings{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% endblock %}


{% block styles %}
  <style>
    main{padding:0px};
  </style>
{% endblock styles %}
  

{% block content %}

  <header>
    <div class="header-title">Trainings Groups</div>
    <a id="ic-add" class="btn-link" href="{% url 'trainings:create' %}">Add Group</a>
  </header>

  {% include 'messages_error.html' %}

  <div class="list-container">
    
    {% for training in list_training %}
      <div class="list-item">
        <a class="btn-item-title" href="{% url 'programs:list' training_id=training.id language_id=1 %}">{{training.title}}</a>
        <div class="row">
          <div>(V{{training.version}})</div>
          <a class="icon ic-edit" href="{% url 'trainings:update' training.id %}"></a>
        </div>
      </div>
    {% endfor %}
      
  </div>

{% endblock %}