{% extends 'base.html' %}
{% load static %}

{% block title %}Trainings{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% endblock %}

{% block content %}

  <header>
    <div class="header-title">Trainings Groups</div>
    <a id="btn-add" class="btn-link" href="{% url 'trainings:create' %}">Add Group</a>
  </header>

  <div class="list-container">
    
    {% for training in training_list %}
      <div class="list-item">
        <a class="btn-item-title" href="{% url 'programs:list' training_id=training.id %}">{{training.title}}</a>
        <a class="btn-icon btn-edit" href="{% url 'trainings:update' training.id %}"></a>
      </div>
    {% endfor %}
      
  </div>

{% endblock %}