*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root{
  --black-mate: #393838;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

main{
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
  flex-grow: 1;
  background-color: rgb(240, 240, 240);
  overflow-y: auto;
}

/* NAV */

nav{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--black-mate);
  align-items: center;
  justify-content: space-between;
}

.nav-pack{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-pack a{
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding: 10px;
  font-weight: bold;
}

.nav-pack a:hover{
  background-color: rgb(77, 77, 77);
}

.nav-title{
  color: white;
  font-size: 18px;
  padding: 5px;
}

.nav-pack a.active{
  background-color: rgb(86, 86, 86);
}

/* BUTTONS */

.btn-link,
.btn-icon-link{
  background-color: var(--black-mate);
  text-decoration: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.btn-link{
  padding: 10px;
}

.btn-icon-link{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
}


/* SELECTOR */

.header-select,
.header-select option {
  color: white;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
  border-radius: 2px;
  background-color: var(--black-mate);
}

/* UTILS */

.row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.sparse{
  justify-content: space-between;
}

/* M E S S A G E S */

.messages-container{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.message-alert{
  background-color: rgb(244, 77, 77);
  color: white;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}