header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
  box-shadow: 0px 2px 5px rgb(196, 196, 196);
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(69, 69, 69);
}

.header-group{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
}

.detail-title {
  font-size: 20px;
  align-self: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin: 10px;
  background-color: rgb(126, 174, 147);
  border-radius: 5px;
  width: 90%;
  text-align: center;
  padding: 10px;
}

.dl-container {
  width: 100%;
  overflow-y: auto;
  padding-bottom: 300px;
}

/* Definition List */

dl {
  margin-left: auto;
  margin-right: auto; 
  width: 95%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  overflow-y: hidden;
}

/* Definition Term ( Label ) */
dt {
  color: rgb(92, 92, 92);
  font-weight: bold;
  font-size: 15px;
}

/* Definition Description ( Text ) */
dd {
  color: rgb(86, 86, 86);
  text-indent: 0px;
  font-size: 14px;
  margin: 5px 5px 5px 5px;
}

.dl-group {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.flat {
  display: flex;
  flex-direction: row;
  align-items: center;
}