/* HEADER */

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px 0px 5px;
}

.header-title{
  font-size: 18px;
  font-weight: bold;
  color: rgb(69, 69, 69);
}

.header-group{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 5px;
}

/* SUB HEADER */
.sub-header{
  display: flex;
  flex-direction: row;
  padding : 0px 10px 0px 10px;
  align-items: center;
  justify-content: space-between;
}

.sub-header-title{
  font-size: 20px;
  font-weight: bold;
  color: gray;
}


/* TABLE */

.table-container {
  width: 95%;
  flex-grow: 1;
  background-color: white;
  align-self: center;
  overflow-x: auto;
  margin-bottom: 10px;
  padding-bottom: 100px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  min-width: 5px;
}

th{
  font-size: 13px;
  padding: 6px 5px 6px 5px;
  color: rgb(87, 87, 87);
  /* vertical-align: bottom; */
}

td{
  font-size: 14px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: rgb(75, 74, 74);
}

thead tr {
  background-color: rgb(181, 181, 181);
}


tbody tr:nth-child(odd) {
  background-color: rgb(227, 227, 227);
}

th[min]{
  max-width: 10px;
}

th[med]{
  max-width: 60px;
}

.ic-edit{
  width: 18px;
  height: 18px;
}