{% extends 'base.html' %}
{% load static %}

{% block title %}Create Exercise{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block styles %}
  <style>
    main {
      padding: 20px;
    }
  </style>
{% endblock %}

{% block content %}

<div class="form-container">

  {% include 'form-header.html' with title="Create Exercise" %}

  <div class="form-body">
    <form id="form" method="POST">
      {% csrf_token %}

      <div class="form-group">
        <label>Exercise Name:</label>
        {{form.exercise_info}}
      </div>

      <div class="form-grid">
        {% for field in form.visible_fields|slice:"1:-3" %}
        <div class="form-group">
          {{field.label_tag}}
          {{field}}
        </div>
        {% endfor %}
      </div>
      
      <div class="form-group">
        {{form.rir.label_tag}}
        {{form.rir}}
      </div>

      <div class="form-grid">
        <div class="form-group">
          {{form.rest_minutes.label_tag}}
          {{form.rest_minutes}}
        </div>
        <div class="form-group">
          {{form.rest_seconds.label_tag}}
          {{form.rest_seconds}}
        </div>
      </div>
        
    </form>
  </div>

  <div class="form-footer">
    <div></div>
    <div>
      <a type="button" class="btn-form" href="{% url 'exercises:list' program_id week day %}">Cancel</a>
      <button type="submit" form="form" class="btn-form">Create</button>
    </div>
  </div>

</div>

{% endblock %}