{% extends 'base.html' %}
{% load static %}

{% block btn_back %}
  <a class="btn-icon btn-back" href="{{url_back}}"></a>
{% endblock %}

{% block title %}Exercises{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'exercises/css/table.css' %}">
{% endblock %}

{% block styles %}
<style>
  .btn-icon{
    width: 25px;
    height: 25px;
  }
</style>  
{% endblock styles %}

{% block content %}

  <header>
  <div class="header-title">Exercises</div>
  <div class="header-group">
    <a id="btn-add" class="btn-link" href="{% url 'exercises:create' program_id=program_id week=week day=day %}">Create Exercise</a>
    <a id="btn-add" class="btn-icon-link" href="{% url 'exercises:upload' program_id=program_id %}"><i class="btn-icon btn-upload"></i></a>
    <a id="btn-add" class="btn-icon-link"  href="{% url 'exercises:download' program_id=program_id %}"><i class="btn-icon btn-download"></i></a>
  </div>
  </header>

  <div class="sub-header">
    <div class="sub-header-title">ID : {{program_unique_id}}</div>
    <div class="row">
      {% include 'select-widget.html' with id="week_selector" widget=week_widget %}
      {% include 'select-widget.html' with id="day_selector" widget=day_widget %}
    </div>
  </div>

  <div class="table-container">

  <table>

    <thead>
      <tr>
        <th rowspan="2" style="min-width:200px">Title</th>
        <th rowspan="2" med>Sets</th>
        <th rowspan="2" med>Reps</th>
        <th rowspan="2" min>%</th>
        <th rowspan="2" min>@</th>
        <th rowspan="2" med>RIR</th>
        <th colspan="2">Rest</th>
        <th rowspan="2" med>E</th>
      </tr>
      <tr>
        <th style="max-width:10px;font-size:12px">M</th>
        <th style="max-width:10px;font-size:12px">S</th>
      </tr>
    </thead>

    <tbody>
      {% for exercise in list_exercise %}
        <tr>
          <td>{{exercise.exercise_info}}</td>
          <td>{{exercise.rounds|default:'-'}}</td>
          <td>{{exercise.reps|default:'-'}}</td>
          <td>{{exercise.percent|default:'-'}}</td>
          <td>{{exercise.power|default:'-'}}</td>
          <td>{{exercise.rir|default:'-'}}</td>
          <td>{{exercise.rest_minutes}}</td>
          <td>{{exercise.rest_seconds}}</td>
          <td><a class="btn-icon btn-edit"  href="{% url 'exercises:update' pk=exercise.id %}"></a></td>
        </tr>
      {% endfor %}

    </tbody>
  </table>
</div>

{% endblock %}

{% block scripts %}
  <script>
    
    onSelectorChange = function( event ){
      const argWeek = selectorWeek.value;
      const argDay = selectorDay.value;
      
      const oldUrl = window.location.href;
      const symbol = '%3F'; // Question Mark Symbol
      const baseUrl = oldUrl.split(symbol)[0];
      const newUrl = `${baseUrl}${symbol}program_id={{program_id}}&week=${argWeek}&day=${argDay}`;
      
      console.log(oldUrl);
      console.log(newUrl);
      if( newUrl !== oldUrl){
        window.location.href = newUrl;
      }
    }

    const selectorWeek = document.getElementById('week_selector');
    const selectorDay = document.getElementById('day_selector');
    
    selectorWeek.addEventListener( 'change', onSelectorChange);
    selectorDay.addEventListener( 'change', onSelectorChange);

  </script>

{% endblock scripts %}
