{% extends 'base.html' %}
{% load static %}

{% block btn_back %}
  <a class="icon ic-back" href="{{url_back}}"></a>
{% endblock %}

{% block title %}Exercises{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/table.css' %}">
{% endblock %}

{% block styles %}
<style>
  .ic-upload,.ic-download{
    width: 15px;
    height: 15px;
  }
</style>  
{% endblock styles %}

{% block content %}

  {% include 'messages_error.html' %}

  <header>
    <div class="header-title">Exercises</div>
    <div class="header-group">
      <a id="ic-add" class="icon-link" href="{% url 'exercises:create' program_id=program_id week=week day=day %}"><i class="icon ic-add"></i></a>
      <a id="ic-add" class="icon-link" href="{% url 'exercises:upload' program_id=program_id %}"><i class="icon ic-upload"></i></a>
      <a id="ic-add" class="icon-link"  href="{% url 'api:download_exercises_csv' program_id=program_id %}"><i class="icon ic-download"></i></a>
    </div>
  </header>

  <div class="sub-header">
    <div class="sub-header-title">ID : {{program_unique_id}}</div>
    <div class="row">
      {% include 'select-widget.html' with id="week_selector" widget=week_widget %}
      {% include 'select-widget.html' with id="day_selector" widget=day_widget %}
    </div>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th style="min-width:150px">Exercise</th>
          <th med>Sets</th>
          <th med>Reps</th>
          <th min>%</th>
          <th min>@</th>
          <th med>RIR</th>
          <th>Rest</th>
          <th med>V</th>
          <th med></th>
          <th med></th>
        </tr>
      </thead>

      {% include 'messages_error.html' %}

      <tbody>
        {% for exercise in list_exercise %}
          <tr>
            <td>{{exercise.exercise_info.unique_id}}</td>
            <td>{{exercise.sets|default:'-'}}</td>
            <td>{{exercise.unit_value|default:'-'}}</td>
            <td>{{exercise.percent|default:'-'}}</td>
            <td>{{exercise.power|default:'-'}}</td>
            <td>{{exercise.rir|default:'-'}}</td>
            <td>{{exercise.rest_format}}</td>
            <td>{{exercise.version}}</td>
            <td>
              <a class="icon ic-edit"  href="{% url 'exercises:update' pk=exercise.id %}"></a>
            </td>
            <td>
              {% comment %} TODO : Find out how to handle this problem
              {% if exercise.version == current_version %}
                <a class="icon ic-delete"  href="{% url 'exercises:delete' pk=exercise.id %}"></a>
              {% endif %}
              {% endcomment %}
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>

{% endblock %}

{% block scripts %}
  <script>
    
    onSelectorChange = function( event ){
      const argWeek = selectorWeek.value;
      const argDay = selectorDay.value;
      
      const oldUrl = window.location.href;
      const symbol = '%3F'; // Question Mark Symbol
      const baseUrl = oldUrl.split(symbol)[0];
      const newUrl = `${baseUrl}${symbol}program_id={{program_id}}&week=${argWeek}&day=${argDay}`;
      
      console.log(oldUrl);
      console.log(newUrl);
      if( newUrl !== oldUrl){
        window.location.href = newUrl;
      }
    }

    const selectorWeek = document.getElementById('week_selector');
    const selectorDay = document.getElementById('day_selector');
    
    selectorWeek.addEventListener( 'change', onSelectorChange);
    selectorDay.addEventListener( 'change', onSelectorChange);

  </script>

{% endblock scripts %}
