{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Program{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}

{% include 'messages_error.html' %}

<div class="form-container">

  <div class="form-header">
    <div class="form-title">Delete Program</div>
  </div>

  <div class="form-body">
    <form id="form" method="POST">
      {% csrf_token %}
      <p>
        <label>Unique ID :</label>
        {{program.unique_id}}
      </p>
    </form>
  </div>

  {% include 'form-footer-delete.html' with url=url_back %}

</div>

{% endblock %}