{% extends 'base.html' %}
{% load static %}

{% block btn_back %}
  <a class="btn-icon btn-back" href="{% url 'trainings:list' %}"></a>
{% endblock %}

{% block title %}Training Programs{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/list.css' %}">
  <link rel="stylesheet" href="{% static 'css/icons.css' %}">
{% endblock %}

{% block content %}

<header>
  <div class="header-title">Training Programs</div>
  <a id="btn-add" class="btn-link" href="{% url 'programs:create' training_id=training.id %}">Create Program</a>
</header>

<div class="list-title">{{training.title}}</div>

<div class="list-container">
  
  {% for program in program_list %}
    <div class="list-item">
      <a class="btn-item-title" href="{% url 'programs:detail' pk=program.id %}">{{program.title}}</a>
      <a class="btn-icon btn-edit" href="{% url 'programs:update' pk=program.id %}"></a>
    </div>
  {% endfor %}
    
</div>

{% endblock %}