{% extends 'base.html' %}
{% load static %}

{% block title %}Update Program{% endblock %}

{% block links %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block styles %}
  <style>
    main{
      padding: 20px;
    }
  </style>
{% endblock %}

{% block btn_back %}
  <a class="btn-icon btn-back" href="{{url_back}}"></a>
{% endblock %}


{% block content %}

  <div class="form-container">

    <div class="form-header">
      <div class="form-title">Update Program</div>
    </div>

    <div class="form-body">
      <form id="form" method="POST">
        {% csrf_token %}
        
            
        {% for field in form_program %}
          <div class="form-group">
            {{field.label_tag}}
            {{field}}
          </div>
        {% endfor %}

        {% for field in form_program_translation %}
          <div class="form-group">
            {{field.label_tag}}
            {{field}}
          </div>
        {% endfor %}
          
      </form>
    </div>
    
    {% include "form-footer-update.html" with url_cancel=url_back url_delete=url_delete %}
 
  </div>

{% endblock %}